Flask
PyMongo
pyyaml
simplejson

requests
Flask-SQLAlchemy
pymysql
Flask-Beaker
Flask-Login

git+https://stash.bars-open.ru/scm/medvtr/tsukino_usagi.git@master#egg=tsukino_usagi
git+https://stash.bars-open.ru/scm/medvtr/hitsl.utils.git@develop#egg=hitsl_utils